<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<section>

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="my-card">

                    <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
                    <p th:text="${session.message.content}"></p>
                    </div>

                    <h1 class="text-center">Register here</h1>
                    <form action="" th:action="@{/do_register}" method="post" th:object="${user}">

                        <!-- Name field -->
                        <div class="form-group">
                            <label for="name_field">Your Name</label>
                            <input type="text" class="form-control" id="name_field"
                                   aria-describedby="emailHelp" placeholder="Enter Your name" name="name"
                                   th:value="${user.name}" required >

                        </div>

                        <!-- Email field -->
                        <div class="form-group">
                            <label for="email_field">Your Email</label>
                            <input type="email" class="form-control" id="email_field"
                                   aria-describedby="emailHelp" placeholder="Enter Your email" name="email"
                                   th:value="${user.email}" required >

                        </div>

                        <!-- Password field -->
                        <div class="form-group">
                            <label for="password_field">Your Password</label>
                            <input type="password" class="form-control" id="password_field"
                                   aria-describedby="emailHelp" placeholder="Enter Your Password" name="password"
                                   th:value="${user.password}" required >

                        </div>
                        <br>
                        <!-- About field -->
                        <div class="form-group">
                            <textarea rows="6"  class="form-control" id="about_field"
                                   placeholder="something about yourself" name="about" th:value="${user.about}"
                            ></textarea>
                        </div>
                        <br>
                        <div class="form-group form-check">
                            <input type="checkbox" name="agreement" class="form-check-input"
                            id="agreement" >
                            <label for="agreement"> Accept terms and conditions</label>

                        </div>
                        <div class="container text-center">
                            <button type="submit" class="btn bg-primary text-white">Submit</button>
                            <button type="reset" class="btn  btn-warning">Reset</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>